{
  "medley": "https://open.spotify.com/playlist/0d3fsEFgjMqd58bjqBy5WC?si=a280887f48ab4a9c",
  "death": "https://open.spotify.com/playlist/1yEkymqjp9fdwQaE3vFnMl?si=dcLr4uJrTHmdor548jZEew",
  "classics": "https://open.spotify.com/playlist/5npWZ67cpjIRoAGVIzsWFp?si=c0ebf4421cbc4207",
  "drift phonk": "https://open.spotify.com/playlist/6hFl9ZKD1yIxsyaEa7AGLj?si=e73aaf4ef60b4a7f",
  "deutsch": "https://open.spotify.com/playlist/6GuwHR8ulz1rwprI8K3ljO?si=87ea21d027ed4039",
  "hardbass": "https://open.spotify.com/playlist/09TUUK9OOzJDTTV6pVNKlY?si=b184e2cfd9b24b2f",
  "rap": "https://open.spotify.com/playlist/03REUmZvaA12w4Tn8VVxg5?si=4382941203cf4f23",
  "twenty one pilots": "https://open.spotify.com/playlist/1Ukx4BsWYVetlJgyybAdTX?si=7daddfee827b446e",
  "k-pop": "https://open.spotify.com/playlist/79Q4eOyliZXSdeJMIZy0Cg?si=523f4914c5d444be"
}
