{
  "medley": "https://open.spotify.com/playlist/0d3fsEFgjMqd58bjqBy5WC",
  "mandopop": "https://open.spotify.com/playlist/5BGJNWjfrHydW9WukkKEiP",
  "mandopop 2": "https://open.spotify.com/playlist/73rQBVMgK1vzPu3HU92N0T",
  "classics": "https://open.spotify.com/playlist/5npWZ67cpjIRoAGVIzsWFp",
  "death": "https://open.spotify.com/playlist/1yEkymqjp9fdwQaE3vFnMl",
  "rap": "https://open.spotify.com/playlist/03REUmZvaA12w4Tn8VVxg5",
  "drift phonk": "https://open.spotify.com/playlist/6hFl9ZKD1yIxsyaEa7AGLj",
  "deutsch": "https://open.spotify.com/playlist/6GuwHR8ulz1rwprI8K3ljO",
  "hardbass": "https://open.spotify.com/playlist/09TUUK9OOzJDTTV6pVNKlY",
  "k-pop": "https://open.spotify.com/playlist/79Q4eOyliZXSdeJMIZy0Cg",
  "john wick techno": "https://open.spotify.com/playlist/2iz0udjQTOegXSOeN1oCxw",
  "twenty one pilots": "https://open.spotify.com/playlist/1Ukx4BsWYVetlJgyybAdTX",
  "nostalgia": "https://open.spotify.com/playlist/76paFWyeDxdCfmThiF7S5e"
}
